{% extends 'base.html' %}

{% block head %}
<title>Bargain</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Products Available</h1>
    <table>
        <tr>
            <th>Products</th>
            <th>Price in Rs.</th>
            <th></th>
        </tr>
        {% for product in product_list %}
            <tr>
                <td>{{ product }} </td>
                <td>{{ selling_price[ product ] }}</td>
                <td>
                    <a href="/first_negotiate/{{product}}">Buy Now!</a>
                </td>
            </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
