body {
    margin: 0;
    font-family: sans-serif;
}

.content {
    margin: 0 auto;
    width: 1000px;
}

.content h1 {
    text-align: center;
}

ol li {
    font-weight: bold;
}

ul li {
    font-weight: normal;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
    text-align: center;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

.right {
    overflow: scroll;
}